HELP.md
.gradle

### Environment & Configuration Files ###
.env
.env.*
!.env.example

src/main/resources/application.properties

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

#Docker
DockerFile
docker-compose.yml